@{
var context = (HttpContext)Context;
string CurrentUrl = $"https://{context.Request.Host}{context.Request.Path}";
string SeoImage = "/images/og-image.webp";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Saku Karttunen</title>
  <!-- SEO tags -->
  <meta property="author" content="Saku Karttunen" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fi_FI" />
  <meta property="og:site_name" content="Saku Karttunen - Portfolio" />
  <meta property="og:url" content="@CurrentUrl" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="@SeoImage" />
  <meta property="og:image:alt"
    content="Logo with the lettes S and K in front of a spiral pattern with the text: Portfolio - Saku Karttunen" />
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="@(context.Request.Host)">
  <meta property="twitter:url" content="@CurrentUrl">
  <meta name="twitter:image" content="@SeoImage">
  <!-- Page Specific Meta Tags -->
  @await RenderSectionAsync("MetaTags", required: false)
  <!-- Links -->
  <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
  <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
  @await RenderSectionAsync("Styles", required: false)
</head>

<body class="text-primary-100 bg-primary text-lg font-mono leading-relaxed min-w-[356px]">
  <!-- This element is here to remove the headache inducing blazor disconnect popup -->
  <div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
  </div>

  <partial name="_Nav" />
  <partial name="_MobileNav" />

  <main role="main" class="pb-20 min-h-[90svh] overflow-x-clip">
    @RenderBody()
  </main>

  <partial name="_Footer" />

  <script src="~/js/site.js" asp-append-version="true"></script>
  <base href="~/">
  <script src="~/js/navigation.js" async></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
