---
import EmailForm from "../components/EmailForm.astro";
import type { ContactContentModel } from "../client";
import { GetContent } from "../utils/umbraco";
import GithubIcon from "../assets/icons/github.svg";
import InstagramIcon from "../assets/icons/instagram.svg";
import LinkedInIcon from "../assets/icons/linkedin.svg";

const model = await GetContent<ContactContentModel>("contact");
---

<style>
#contacts {
  max-width: 1280px;
  margin-inline: auto;
}

#contacts > *:not(:last-child) {
  margin-bottom: 2rem;
}

.subheader {
  @media (min-width: 768px) {
    text-align: center;
  }
}

div:has(>.text-content) {
  display: grid;
  gap: 1.5rem;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  @media (min-width: 768px) {
    padding-top: 1.5rem;
  }
}

.description p > strong {
  font-size: 2rem;
}

.links-container svg {
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

.contact-info a {
  display: inline-block;
}

.contact-info > *:not(:last-child) {
  margin-bottom: 1rem;
}

.links-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.links-container > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
</style>

<section id="contacts">

  <div class="subheader">
    <p><span>// 04</span> Contacts</p>
    <h2>{model.properties?.heading}</h2>
  </div>

  <div>
    <div class="text-content">

      <div class="description">
        <p><strong>Get in Contact</strong></p>
        <Fragment set:html={model.properties?.description?.markup}/>
      </div>

      <div class="contact-info">
        <a 
          href={`mailto:${model.properties?.emailAddress}`} 
          target="_blank">
          {model.properties?.emailAddress}
        </a>

        <div class="links-container">
          {model.properties?.links?.map(link => (
            <div>
              { link.url?.includes("github.com") && <GithubIcon /> }
              { link.url?.includes("instagram.com") && <InstagramIcon /> }
              { link.url?.includes("linkedin.com") && <LinkedInIcon /> }
              <a href={link.url} target={link?.target}>{link?.title}</a>
            </div>
          ))}
        </div>

        </div>
      </div>

      <div id="contactform">
        <EmailForm />
      </div>

  </div>
</section>
