---
import type { ApiLinkModel } from '../client';

import GithubIcon from "@/assets/icons/github.svg";
import InstagramIcon from "@/assets/icons/instagram.svg";
import LinkedInIcon from "@/assets/icons/linkedin.svg";
import WebsiteIcon from "@/assets/icons/website.svg";
import InlineRemoteSvg from '../utils/svg_inliner';

interface Props {
  link: ApiLinkModel;
  iconSrc?: string;
}

const { link, iconSrc } = Astro.props;

const iconMap = [
  {
    domain: "github.com",
    icon: GithubIcon,
  },
  {
    domain: "instagram.com",
    icon: InstagramIcon,
  },
  {
    domain: "linkedin.com",
    icon: LinkedInIcon,
  },
];

let LinkIcon = iconMap.find(item => link.url?.includes(item.domain))?.icon 
  ?? WebsiteIcon;
---

<style is:global>
  .link-with-icon svg {
    fill: currentColor;
    display: inline-block;
    margin-right: 1ch;
    width: 1.75rem;
    height: auto;
    aspect-ratio: 1/1;
  }
</style>

{ iconSrc && 
  <a href={link.url} target={link?.target} class="link-with-icon">
    <Fragment set:html={await InlineRemoteSvg(iconSrc)}/>
    {link?.title}
  </a>
}

{ !iconSrc && 
  <a href={link.url} target={link?.target} class="link-with-icon">
    <LinkIcon />
    {link?.title}
  </a>
}
