@using fullstack_portfolio.Models;
@model ContactInfo

@{
string collection = ViewBag.Collection;
var id = @Model.GetType().GetProperty("_id")?.GetValue(Model);
}

<section>
  <form id="edit" action="/dashboard/@collection/@id/save" method="post" enctype="multipart/form-data" class="grid">
    <input asp-for="@Model._id" value="@id" hidden aria-hidden="true" />

    <!-- Title -->
    <label>
      @Html.DisplayNameFor(m => m.Email)
      <input asp-for="@Model.Email" />
    </label>
    <span asp-validation-for="@Model.Email" class="text-accent-400"></span>

    <!-- Links -->
    <label>
      Links
      <div id="Links" class="string-list-container">
        @foreach (int index in Enumerable.Range(0, Model.Links.Count()))
        {
        <div>
          <button type="button">@Model.Links[index] x</button>
          <input asp-for="@Model.Links[index]" hidden>
        </div>
        }
      </div>
      <input name="links-mock" type="text" placeholder="New Tag..."
        class="string-list">
    </label>
    <span asp-validation-for="@Model.Links" class="text-accent-400"></span>

    <hr>

    <button type="submit">Save</button>
    <button type="reset">Clear</button>

  </form>
</section>

@section Scripts {
  <script src="~/js/stringlist.js" asp-append-version="true"></script>
  <script src="~/js/savechanges.js" asp-append-version="true"></script>
}

@section Styles {
  <link rel="stylesheet" href="~/css/edit.css" />
}
