@using fullstack_portfolio.Models
@using fullstack_portfolio.Utils
@model Project

@{
string collection = ViewBag.Collection;
var id = @Model.GetType().GetProperty("_id")?.GetValue(Model);
var enumValues = new SelectList(Enum.GetValues(typeof(CategoryType)));
string ImagePath = ViewUtils.TrimPath(Model.ImageUrl ?? string.Empty);
}

<section>
  <form id="edit" action="/dashboard/@collection/@id/save" method="post" enctype="multipart/form-data">
    <input asp-for="@Model._id" value="@id" hidden aria-hidden="true" />

    <!-- Title -->
    <label>
      @Html.DisplayNameFor(m => m.Title)
      <input asp-for="@Model.Title" />
    </label>
    <span asp-validation-for="@Model.Title" class="text-accent-400"></span>

    <!-- Category -->
    <label>
      @Html.DisplayNameFor(m => m.Category)
      <select asp-for="@Model.Category" asp-items="@enumValues" class="bg-primary"></select>
    </label>
    <span asp-validation-for="@Model.Category" class="text-accent-400"></span>

    <!-- Description -->
    <label>
      @Html.DisplayNameFor(m => m.Description)
      <textarea asp-for="@Model.Description" rows="5">
      </textarea>
    </label>
    <span asp-validation-for="@Model.Description" class="text-accent-400"></span>

    <!-- End Date -->
    <label>
      @Html.DisplayNameFor(m => m.FinishedAt)
      <input asp-for="@Model.FinishedAt" lang="fi-FI" />
    </label>
    <span asp-validation-for="@Model.FinishedAt" class="text-accent-400"></span>

    <!-- Tags -->
    <label>
      Tags
      <div id="Tags" class="string-list-container">
        @foreach (int index in Enumerable.Range(0, Model.Tags.Count()))
        {
        <div>
          <button type="button">@Model.Tags[index] x</button>
          <input asp-for="@Model.Tags[index]" hidden>
        </div>
        }
      </div>
      <input type="text" placeholder="New Tag..."
        class="string-list">
    </label>
    <span asp-validation-for="@Model.Tags" class="text-accent-400"></span>

    <!-- links -->
    <label>
      links <span>(name;url)</span>
      <div id="links" class="string-list-container">
        @foreach (int index in Enumerable.Range(0, Model.Links.Count()))
        {
        <div>
          <button type="button">@Model.Links[index] x</button>
          <input asp-for="@Model.Links[index]" hidden>
        </div>
        }
      </div>
      <input type="text" placeholder="New Tag..." class="string-list">
    </label>
    <span asp-validation-for="@Model.Links" class="text-accent-400"></span>

    <!-- Team Members -->
    <label>
      @Html.DisplayNameFor(m => m.Team)
      <div id="teammates" class="flex flex-wrap gap-2">
        @foreach (int index in Enumerable.Range(0, Model.Team.Count()))
        {
        <div class="flex flex-col max-w-md">
          <label asp-for="@Model.Team[index].Name">Name</label>
          <input asp-for="@Model.Team[index].Name" />

          <label asp-for="@Model.Team[index].Role">Role</label>
          <input asp-for="@Model.Team[index].Role" />

          <label asp-for="@Model.Team[index].Link">Link</label>
          <input asp-for="@Model.Team[index].Link" />

          <button type="button" class="remove-teammate">Remove</button>
        </div>
        }
        <button type="button" id="add-teammate" 
          class="border-2 border-primary-700 flex-grow rounded-md py-2 px-4">
          <div class="font-bold">
            &plus;
          </div>
          Add New
        </button>
      </div>
    </label>
    <span asp-validation-for="@Model.Team" class="text-accent-400"></span>

    <label>
      @Html.DisplayNameFor(m => m.ImageUrl)
      @if (!string.IsNullOrEmpty(ImagePath))
      {
        <button type="button" class="remove-image" data-imagename="ImageUrl">Remove Current Image</button>
      }
      <label for="file">
        <p>Upload Image</p>
        @if (!string.IsNullOrEmpty(ImagePath))
        {
        <p>
          Current: <a href="@ImagePath">@ImagePath</a>
        </p>
        }
      </label>
    </label>
    <span data-valmsg-for="file" data-valmsg-replace="true" class="text-red-500 field-validation-valid"></span>
    <input type="file" id="file" name="file"></input>
    <!-- the actual image url -->
    <!-- it is added so that the url will not get removed if an empty file is passed -->
    <input asp-for="@Model.ImageUrl" hidden aria-hidden="true" />
    <span asp-validation-for="@Model.ImageUrl" class="text-accent-400"></span>

    <!-- Alt Text for the image -->
    <label>
      @Html.DisplayNameFor(m => m.AltText)
      <input asp-for="@Model.AltText" placeholder="Description of the image, for screenreaders"></input>
    </label>
    <span asp-validation-for="@Model.AltText" class="text-accent-400"></span>

    <!-- IsLarge - Shows up as twice as big in the list view -->
    <div>
      <input asp-for="@Model.IsLarge" />
      @Html.LabelFor(m => m.IsLarge)
      <span asp-validation-for="@Model.IsLarge" class="text-accent-400"></span>
    </div>

    <hr>

    <button type="submit">Save</button>
    <button type="reset">Clear</button>

    <span id="general-error" class="text-accent-400"></span>

  </form>
</section>

@section Scripts {
<script src="~/js/addteammate.js" asp-append-version="true" async></script>
<script src="~/js/stringlist.js" asp-append-version="true" async></script>
<script src="~/js/savechanges.js" asp-append-version="true" defer></script>
<script src="~/js/modelimage.js" asp-append-version="true" defer></script>
}

@section Styles {
<link rel="stylesheet" href="~/css/edit.css" />
}
