@using fullstack_portfolio.Models;
@model Experience[]

@{
string DefaultImage = "/images/callingcard.webp";
string GetImage(string? path)
{
if (string.IsNullOrWhiteSpace(path))
return DefaultImage;
if (!File.Exists(path))
return DefaultImage;
return path.Split("wwwroot/")[1];
}

var orderedExperiences = Model
    .OrderByDescending(e => e.EndDate ?? DateOnly.MaxValue) // NULL EndDate = highest = appear first
    .ThenByDescending(e => e.StartDate) // More recent StartDate first if multiple null end dates
    .ToList();
}

<section id="experience" class="space-y-6 py-20 max-w-content mx-auto no-container">

  <div class="max-w-4xl space-y-4 section-padding">
    <div class="subheader">
      <p><span>// 05</span> Experience</p>
      <h2>Professional Experience</h2>
    </div>
    <p>
      Here is a list of my prior professional experiences. This includes
      many different types of jobs and fields. I am willing to talk more
      about these if you are interested, so remember to ask!
    </p>
  </div>
  
  <div class="grid gap-y-10">
    @foreach (var (exp, index) in orderedExperiences.Select((val, i) => (val, i)))
    {
    <div class="grid gap-4 lg:grid-cols-2">
      <div class="exp-header flex flex-col justify-center py-4 overflow-clip relative section-padding
        @(index % 2 == 0 ? "" : "lg:order-last")">
        <div class="timespan flex gap-2 text-secondary-400">
          //
          <p>@exp.StartDate.ToString("MM.yyyy")</p>
          -&gt;
          <p>@(exp.EndDate?.ToString("MM.yyyy") ?? "Current")</p>
        </div>

        <h3 class="text-4xl font-sans mb-2">@exp.Title</h3>
        <h4 class="text-xl font-bold font-sans">@exp.Subtitle</h4>

        <img src="@GetImage(exp.ImageUrl)" loading="lazy" decoding="async"
          alt="@(exp.AltText ?? "Default background image for experience")"
          class="w-full h-full absolute top-0 left-0 object-cover -z-30">
        <!-- Darken the background -->
        <div class="w-full h-full absolute top-0 left-0 bg-primary/75 -z-20">
        </div>
        <!-- Add a gradient to the background for better contrast -->
        <div class="w-full h-full absolute top-0 left-0 mix-blend-multiply
          bg-gradient-to-r from-primary to-transparent -z-10">
        </div>
      </div>

      <div class="exp-body section-padding flex flex-col gap-4 justify-center 
        px-5 sm:px-10">
        <p>@exp.Description</p>
        <div class="flex gap-2 flex-wrap">
          @foreach (var skill in exp.Skills)
          {
          <span class="border border-secondary px-6 py-1.5 rounded-full 
            select-none pointer-default
            capitalize motion-safe:transition-all hover:bg-secondary">@skill</span>
          }
        </div>
      </div>
    </div>
    }
  </div>
</section>
