---
import Nav from "../components/Nav.astro"
import MobileNav from "../components/MobileNav.astro"
import Footer from "../components/Footer.astro"
import UmbracoHotReload from "../components/UmbracoHotReload.astro"
import SeoImage from "../assets/images/callingcard.webp";

import "../utils/extensions";
import "../styles/global.css";
import type { SeoPropertiesPropertiesModel } from "../client";

const isDev = import.meta.env.DEV;

interface Props {
  seoProperties?: SeoPropertiesPropertiesModel;
}

const { seoProperties } = Astro.props;

const domain = "https://sakukarttunen.com";
const author = "Saku Karttunen";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap.xml" />

		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    {!seoProperties?.seoTitle && (
      <title>Saku's portfolio</title>
      <meta name="og:title" content="Saku's portfolio">
    )}
    {seoProperties?.seoTitle && (
      <title>{seoProperties.seoTitle} - Saku's portfolio</title>
      <meta name="og:title" content={`${seoProperties.seoTitle} - Saku's portfolio`}>
    )}

    <!-- SEO tags -->
    <meta property="author" content={author} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={seoProperties?.seoTitle ?? "Saku's portfolio"} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:type" content="website">
    <meta property="og:image" content={seoProperties?.seoPreviewImage?.[0].url} />
    <meta property="og:image:alt" content="Logo with the lettes S and K in front of a spiral pattern with the text: Saku Karttunen" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content={Astro.url.host}>
    <meta property="twitter:url" content={Astro.url.href}>
    <meta name="twitter:image" content={seoProperties?.seoPreviewImage?.[0].url}>

    <!-- Page specific meta tags -->
    <meta name="description" content={seoProperties?.seoDescription}>
    <meta name="og:description" content={seoProperties?.seoDescription}>
    <meta name="keywords" content={seoProperties?.seoKeywords?.join(",")}>
    <meta name="robots" content={`${seoProperties?.isIndexed ? "index" : "noindex"}, ${seoProperties?.canFollow ? "follow" : "nofollow"}`}>
    <link rel="canonical" href={`${domain}${Astro.url.pathname}`}>
	</head>
	<body class="text-primary-100 bg-primary text-lg font-mono leading-relaxed min-w-[356px]">
    <Nav />
    <MobileNav />

    <main role="main" class="pb-20 min-h-[90svh] overflow-x-clip">
      <slot />
    </main>

    <Footer />

    { isDev && <UmbracoHotReload />}
	</body>
</html>
